.text {
  text-align: center;
  font-size: 32px;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.pig {
  width: 128px;
  height: 128px;
  &_wrapper {
    padding: 120px 0;
  }
}
