:root {
  --welcome-card-bg: white;
  --welcome-text: white;
  --welcome-bg-start: #5e3bbb;
  --welcome-bg-end: #9867cf;
  --welcome-nav-height: 64px;
  --welcome-nav-gap: 8px;

  --z-index-bottom-nav: 9; 
  --z-index-overlay: 19;
  --z-index-navbar: 39;

  --transition-duration: 0.5s;

  --button-bg: #6a48c5;
  --button-bg-danger: #f02727;
  --button-border-color: #ddd;
  --button-text:var(--welcome-text);
  --button-font-size: 18px;
  --button-radius: 8px;
  --button-height: 48px;
  --floatbutton-bg: #6a48c5;
  --floatbutton-text:white;;

  --navbar-bg-start: #5e3bbb;
  --navbar-bg-end: #9867cf;
  --navbar-text: white;

  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-bg: white;
  --overlay-user-bg: #6a48c5;
  --overlay-user-text: white;
  --top-safe-area-height: 24px;

  --tabs-indicator-bg: rgba(255, 255, 255, 0.5);

  --main: #5e3bbb;

  --amount-text: #c052eb;
  --date-text: #999;
  --number-button-bg-important: #6a48c5;
  --number-button-bg: white;
  --number-button-text-important: white;

  --input-border-color: #6a48c5;
  --input-min-height: 36px;
  --input-radius: var(--button-radius);
  --input-shadow: rgba(0,0,0,0.25);

  --emoji-nav-text-selected: #333;
  --emoji-nav-text: #999;
  --error-color: #E10505;

  --bg: white;
  --tag-bg: #EFEFEF;

  --list-tag-text: #333;
  --list-amount-text: var(--amount-text);
  --list-time-text: var(--date-text);

  --total-bg: #45294a;
  --total-text: white;
  --total-income: #e4ca08;
  --total-expenses: #ea2b19;

  --dialog-header-text: white;

  --text:#333;

}