:root {
  --welcome-card-bg: white;
  --welcome-text: white;
  --welcome-bg-start: #5e3bbb;
  --welcome-bg-end: #8555bc;
  --welcome-nav-height: 64px;
  --welcome-nav-gap: 8px;

  --z-index-bottom-nav: 9; 
  --z-index-overlay: 19;

  --transition-duration: 0.5s;

  --button-bg: white;
  --button-bg-important: #603dbf;
  --button-border-color: #ddd;
  --button-text:var(--welcome-text);
  --button-font-size: 18px;
  --button-radius: 8px;
  --button-height: 48px;
  --floatbutton-icon-bg: var(--button-bg-important);
  --floatbutton-icon-text:var(--button-text);

  --navbar-bg-start: var(--welcome-bg-start);
  --navbar-bg-end: var(--welcome-bg-end);
  --navbar-text: var(--welcome-text);

  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-bg: var(--welcome-text);
  --overlay-user-bg: var(--button-bg);
  --overlay-user-text: var(--welcome-text);
  --top-safe-area-height: 24px;

  --tabs-indicator-bg: rgba(255, 255, 255, 0.5);

  --amount-text: #53A867;
  --date-text: #999999;
}